@CHARSET "UTF-8";


#header-MbO{
	height: 450px;
	margin: 0px 0 10px 0px;
	background:url(../MbOnlyimages/Mo1.jpg);
}


#header-MbO ul#lsnon{
	line-height: 24px;
	width: 600px;
	font-size: 20px;
    height: 400px;
	float: left;
	margin: 20px 0 20px 40px;
	padding: 0;
	list-style: none;
	}
	
	
#header-MbO ul#navigation{
	line-height: 24px;
	width: 180px;
    height: 400px;
	float: left;
	margin: 20px 0 20px 40px;
	padding: 0;
	list-style: none;
}	
	
#header-MbO ul#navigation li a{
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 0 #713c12, -1px -1px 0 #713c12, -1px 1px 0 #713c12, 1px -1px 0 #713c12;
	font-size: 20px;
	font-family: arial;
	display: block;
	height: 28px;
	line-height: 26px;
	padding: 0 20px 0 9px;
	display: inline-block;
	margin: 5px 0 5px 0;
}

#header-MbO ul#navigation li.selected a{
	color: #ffec00;	
}

#header-MbO ul#navigation li a:hover{
	color: #ffec00;
}

#header-MbO ul#accli{
	font-size: 18px;
	
}
#header-MbO div#ModifyAvatar{
	width: 320px;
    height: 240px;
	float:left;
	}
#header-MbO div#acc{
	width: 450px;
	float:left;

}
#header-MbO div#TBE{
	height: 450px;
	width: 1000px;
	float:left;
	
	}
    

#header-MbO table#TE1 {
	border:8px groove; 
	border-color: #FFD382;
    width: 900px;
	overflow: overflow-y;
}


.atulli{
	list-style-type: none;
	width: 950px;
    height: 450px;
    margin: 0px;
	}
.atulli ul {
	width: 450px;
    height: 350px;
	list-style-type: none;
}	
	
#longMbO{
	margin: 10px 15px 10px 0;
	position: relative;
	height: 50px;
}

.content{
	background:url(../MbOnlyimages/bg-content.jpg);
/* 	background:url(../MbOnlyimages/Mo1.jpg);" */
}



/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */



.singer_r_img {
	display: block;
	width: 114px;
	height: 52px;
	line-height: 45px;
	background: url(images/sing_week.gif) right 2px no-repeat;
	vertical-align: middle;
	*margin-bottom: -10px;
	text-decoration: none;
}

.singer_r_img:hover {
	background-position: right -53px;
	text-decoration: none;
}

.singer_r_img span {
	margin-left: 14px;
	font-size: 16px;
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei',
		sans-serif !important;
	font-weight: 700;
	color: #165379;
}

.singer_r_img.current {
	background: url(images/sing_sing.gif) no-repeat 0 2px;
	border: 0;
	text-decoration: none;
}

.sign table {
/* 	border-collapse: collapse; */
	border-spacing: 0;
	width: 100%;
}

.sign th, .sign td {
	width: 30px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #e3e3e3;
}

.sign th {
	font-size: 16px;
}

.sign td {
	color: #404040;
	vertical-align: middle;
}

.sign .on {
	background-color: red;
}

.calendar_month_next, .calendar_month_prev {
	width: 34px;
	height: 40px;
	cursor: pointer;
	background: url(images/sign_arrow.png) no-repeat;
}

.calendar_month_next {
	float: right;
	background-position: -42px -6px;
}

.calendar_month_span {
	display: inline;
	line-height: 40px;
	font-size: 16px;
	color: #656565;
	letter-spacing: 2px;
	font-weight: bold;
}

.calendar_month_prev {
	float: left;
	background-position: -5px -6px;
}

.sign_succ_calendar_title {
	text-align: center;
	width: 398px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	background: #fff;
}

.sign_main {
	width: 400px;
	border-top: 1px solid #e3e3e3;
	font-family: "Microsoft YaHei", SimHei;
}

.singer_r_img {
	display: block;
	width: 114px;
	height: 52px;
	line-height: 45px;
	background: url(images/sing_week.gif) right 2px no-repeat;
	vertical-align: middle;
	*margin-bottom: -10px;
	text-decoration: none;
}

.singer_r_img:hover {
	background-position: right -53px;
	text-decoration: none;
}

.singer_r_img span {
	margin-left: 14px;
	font-size: 16px;
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei',
		sans-serif !important;
	font-weight: 700;
	color: #165379;
}

.singer_r_img.current {
	background: url(images/sing_sing.gif) no-repeat 0 2px;
	border: 0;
	text-decoration: none;
}

.sign table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.sign th, .sign td {
	width: 30px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #e3e3e3;
}

.sign th {
	font-size: 16px;
}

.sign td {
	color: #404040;
	vertical-align: middle;
}

.sign .on {
	background-color: red;
}

.calendar_month_next, .calendar_month_prev {
	width: 34px;
	height: 40px;
	cursor: pointer;
	background: url(images/sign_arrow.png) no-repeat;
}

.calendar_month_next {
	float: right;
	background-position: -42px -6px;
}

.calendar_month_span {
	display: inline;
	line-height: 40px;
	font-size: 16px;
	color: #656565;
	letter-spacing: 2px;
	font-weight: bold;
}

.calendar_month_prev {
	float: left;
	background-position: -5px -6px;
}

.sign_succ_calendar_title {
	text-align: center;
	width: 398px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	background: #fff;
}

.sign_main {
	width: 400px;
	border-top: 1px solid #e3e3e3;
	font-family: "Microsoft YaHei", SimHei;
}